body {
    background-color: #212121;
}

H1 {
    text-align: center;
    color: red;
}

body {
    background-color: #212121;
}

h3 {
    color: rgb(255, 39, 39);
}

b {
    color: orangered;
    text-align: center;
}

h4 {
    text-align: center;
        color: rgb(255, 39, 39);
}

id.Whatsapp {
    text-align: right;
}